* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', "Arial",serif; 
  font-size: 24px;
  background: black;
}

a {
  text-decoration: none;
}

.wrapper{
  width: 100%;
}

.main-header{
  height: 40px;	
  background-color:#1c1c1c; 
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-header__logo{
  margin-top: 7px;
}

.main-nav{
  width: 100%;
  margin-left: 20%;
}

.main-header__name{
  font-size: 35px;
  color: #a1a1a1;
}

.main-nav__button {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn{
  width: 100px;
  height: 40px;	
  border: none;
  font-weight: bold;
  font-size: 17px;
  background-image: linear-gradient(to left,transparent,transparent 50%,#3b5998 50%,#3b5998);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.btn:hover{
	background-position: 0 0;
	color:white;
}

.btn:active{
	color: #a1a1a1;
	outline: none;
}

.btn:focus{
	outline: none;
}

@keyframes bounce {
 	0%, 20%, 60%, 100% {
 	-webkit-transform: translateY(0);
 	transform: translateY(0);
 }
 
 40% {
 	-webkit-transform: translateY(-20px);
 	transform: translateY(-20px);
 }
 
 80% {
 	-webkit-transform: translateY(-10px);
 	transform: translateY(-10px);
 }
}

.icon:hover{
	animation: bounce 1s;
}

.main-nav__button--price{	
	color: white;	
	background-color:#3b5998; 
	font-size: 15px;
}

.main-nav__button--price:hover{	
	color: black;
}

.main-nav__button--price:active{	
	color: white;
}

.main-nav__button--new {	
	color: #a1a1a1;	
	background-color:#1c1c1c; 
}

.main-nav__button--save {	
	color: #a1a1a1;	
	background-color:#1c1c1c; 
}

.main-nav__button--search {	
	width: 80px;
	color: #a1a1a1;
	background-color:#1c1c1c; 
}

.main-nav__button--user {	
	width: 100px;
	color: #a1a1a1;
	background-color:#1c1c1c; 
}

.share__social{
	color: #a1a1a1;
}

.main-header__icons{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 10px;
}

.main-header__icons li{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 10px;
}

.share {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.share__social--icons{
	display: flex;
	flex-direction: row;
	align-items: center;
	
}
.share__social--icons li{
	margin-left: 10px;
}

.share__social--icons li:hover{
	animation: bounce 0.5s;
}

@media screen and (min-width: 1300px) {
  .main-nav{
  margin-left: 20%;
}
}

.random {
	background-color: #1c1c1c;
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-top: 10px;	
	margin-left: 79.5%;

}

.random__header {
	color:  #a1a1a1;
	margin-top: 10px;
	margin-left: 60%;
}

table {
    width: 37%; 
    color: black; 
    border-spacing: 10px; 
 	border-collapse: collapse;
 	border-color: black;
	margin-top: 10px;
 	margin-left: 60%;
 }

td, th {
    background: #3b5998;
    padding: 1px; 
}

.random__button {
	color: white;	
	background-color:#0ba31f; 
	font-size: 25px;
	width: 145px;
	height: 60px;
	border: none;
	margin-top: 10px;
	margin-left: 60%;
	outline: none;
}

@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-5deg);
    }
    20%, 40% {
        transform: rotate(5deg);
    }
	60%, 80% {
        transform: rotate(5deg);
    }
	70%, 90% {
        transform: rotate(-5deg);
    }
}

.random__button:hover{
	animation: 0.8s ease-in-out 0s normal none  trambling-animation;
	color: black;
}

.random__button:active{
	color: #a1a1a1;
}

.random__description{
	margin-top: 10px;
	margin-left: 10px;
	color:  #a1a1a1;
	width: 90%;
}


